::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.app {
  width: 60vw;
  margin: auto;
}

.header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  height: 15vh;
}

.header__search {
  padding-right: 40px;
}

.header__search__form {
  background-color: #f6f6f6;
  width: 18em;
  padding: 2px;
  height: 16px;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: x-small;
  font-weight: bold;
  padding-left: 24px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/VisualEditor_-_Icon_-_Search.svg")
    no-repeat left;
  background-size: 28px;
}

.photofeed {
  background-color: #f6f6f6;
  height: 80vh;
  overflow: auto;
}

.photofeed__container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.photofeed__container__element {
  list-style-type: none;
  width: 26vw;
  border: rgba(85, 85, 85, 0.137) solid 1px;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.photofeed__container__element:after {
  content: "";
  display: table;
  clear: both;
}

.photofeed__container__element img {
  width: 100%;
}

.photofeed__container__element:hover {
  box-shadow: 0 8px 16px 0 rgba(85, 85, 85, 0.08);
}

.image__info {
  padding: 1px;
  background-color: white;
  /* height: 8vh; */
}

.price {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 23%;
  background: url("https://res.cloudinary.com/jorgepardor/image/upload/v1652381045/rectangle_anpyu1.png")
    no-repeat left;
  background-size: contain;
}

.price__number {
  font-size: large;
  padding-left: 12px;
}

.image__info__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: Large;
  line-height: 0;
}

.image__info__author {
  font-family: "Playfair Display", serif;
  text-align: center;
  color: lightgrey;
  font-size: medium;
  line-height: 0.5em;
}

.image__info__authorname {
  color: black;
}

.price__number {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.price__currency {
  font-size: small;
}

.socialmedia {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
}

.socialmedia:first-child {
  margin-top: 4%;
}

.socialmedia button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.socialmedia p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: right;
  color: white;
  font-size: medium;
  font-weight: bolder;
  line-height: 0;
  padding-left: 8px;
}

.interactions {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: url("https://res.cloudinary.com/jorgepardor/image/upload/v1652601374/socialbg_tqhawm.png")
    no-repeat right;
  background-size: cover;
}

.socialmedia svg {
  width: 1.5rem;
  fill: white;
}

.interactions__notdisplayed {
  display: none;
}

.interactions__displayed {
  display: flex;
}

.loader {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .app {
    width: 90vw;
  }

  .photofeed__container__element {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .app {
    width: 100%;
  }

  .photofeed__container__element {
    width: 45%;
  }

  .price {
    width: 100%;
    height: 25%;
  }
}

@media screen and (max-width: 500px) {
  .app {
    width: 100%;
  }

  .header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo img {
    height: 12vh;
    padding-left: 20px;
  }

  .header__search__form {
    width: 18em;
    padding: 2px;
    height: 18px;
    font-size: x-small;
    font-weight: bold;
    padding-left: 30px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/ca/VisualEditor_-_Icon_-_Search.svg")
      no-repeat left;
    background-size: 36px;
  }

  .photofeed {
    height: 85vh;
  }

  .photofeed__container__element {
    width: 80%;
  }

  .image__info__title {
    font-size: medium;
  }

  .image__info__author {
    font-size: small;
  }

  .price__number {
    font-size: medium;
  }

  .price__currency {
    font-size: x-small;
  }
}

@media screen and (max-width: 330px) {
  .header {
    height: 12vh;
    display: flex;
  }

  .header__logo img {
    height: 10vh;
  }

  .header__search__form {
    width: 16em;
    padding: 2px;
    height: 14px;
    font-size: xx-small;
    font-weight: bold;
    padding-left: 6px;
    background: none;
  }

  .photofeed {
    height: 90vh;
  }

  .price {
    width: 100%;
    height: 24%;
  }

  .price__number {
    font-size: 0.9em;
  }

  .price__currency {
    font-size: x-small;
  }
}
