.App {
  text-align: center;
}

.Header {
  height: 15vh;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.Header_logo {
  width: 30%;
}

.Logo {
  margin-left: auto;
  margin-right: auto;
}

.Header_search {
  width: 70%;
}

.Search_form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}



.Photofeed-base {
  width: 70%;
  min-height: 100vh;
  margin: auto;
  background-color: #f6f6f6;
}

.Photofeed-container {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;  
}

.card {
  /* Add shadows to create the "card" effect */
  width: 30%;
  border: rgba(85, 85, 85, 0.137) solid 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: 0.3s;
  position: relative;
 
 
}

.card img {
  width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {

  padding: 6px 16px;
  background-color: white;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.topleft {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.picture_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: Large;
  line-height: 0;

}

.picture_author {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: lightgrey;
  font-size: medium;
  line-height: 0.5em;

  
}

.author {
  color: black;
}

.picture_price {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: black;
  font-size: medium;
  font-weight: bolder;
}

.currency {
  font-size: small;
}


.interactions {
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  color: white;
  font-size: medium;
  font-weight: bolder;
  line-height: 0;
}

.topright svg {
  width: 1.5rem;
  fill: white;
  
}
