.App {
  text-align: center;
}

.Header {
  height: 15vh;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;

  justify-content:space-between;
  align-items: center;

}

.Header_logo {
  width: 30%;
}

.Logo {
  margin-left: auto;
  margin-right: auto;
}

.Header_search {
  width: 70%;
}

.Search_form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}



.Photofeed-base {
  min-height: 100vh;
  margin: auto;
  width: 70%;
  /* padding: 10px; */
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: f6f6f6;
}
  
.Photofeed-row {
  display: flex;
}

.Photofeed-col {
  flex: 50%;
}

.Photofeed-container {
  /* padding: 6px;
  width: 50%; */
}

.Photofeed-img {
width:50%;
}
